* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Netflix Sans';
}

body {
  color: #FFF;
  background-color: #000;
}

footer {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

h3 {
  font-size: 16px; /* CONSTANT AT ANY SCREEN SIZE */
}

li {
  list-style: none;
}

/* ------- GLOBAL STYLES ------- */
.container {
  max-width: 155rem;
  width: 99%;
  margin: 0 auto;
}

.first-half {
  margin-bottom: 8rem;
}

.second-half {
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
}

.sh-heading {
  font-weight: 700;
}

.red-btn {
  color: #FFF;
  font-weight: 600;
  background-color: rgb(229, 9, 20);
  border: 1px solid rgb(229, 9, 20);
  border-radius: 5px;
}

.red-btn:hover {
  cursor: pointer;
  background-color: rgb(181, 8, 16);
}

/* ------- BACKGROUND IMAGE SECTION ------- */
.background-image-container {
  max-width: 155rem;
  width: 99%;
  margin: 0 auto;
  position: relative;
}

.background-image {
  width: 100%;
  height: 72rem;
  object-fit: cover;
  opacity: 0.2;
  position: absolute;
  z-index: -999;
  box-shadow: 0 1rem 5rem rgb(92, 125, 255);
}

/* ---------- FIRST HALF ---------- */
/* ------- HEADER ------- */
.header {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}

.netflix-logo {
  width: 148px;
  height: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.language-dropdown-container {
  background-color: rgba(22, 22, 22, 0.7);
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border: 1px solid rgb(93, 92, 92);
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.language-icon {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.language-dropdown {
  color: #FFF;
  background-color: transparent;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.language-dropdown:focus {
  outline: none;
}

.sign-in-btn {
  font-size: 1.4rem;
  padding: 0.6rem 1rem;
  transition: background-color 0.15s;
}

/* ------- HERO SECTION ------- */
.hero-section {
  width: 98%;
  margin: 0 auto;
  height: calc(72rem - 6.5rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.hero-tagline {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.ready-to-watch-text {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 1.5rem;
}

.get-started-container {
  width: 90%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.email-address {
  width: 100%;
  max-width: 35rem;
  color: #FFF;
  background-color: rgba(22, 22, 22, 0.7);
  padding: 1.5rem 1rem;
  border: 1px solid gray;
  caret-color: #FFF;
}

.email-address::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  font-weight: 500;
}

.email-address:focus {
  outline: none;
  border: 2px solid #FFF;
  border-radius: 3px;
}

.get-started-btn-container {
  width: 180px; /* CONSTANT AT ANY SCREEN SIZE */
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s;
}

.get-started-btn {
  color: #FFF;
  background: transparent;
  font-size: 2.3rem;
  font-weight: 600;
  border: none;
  margin-right: 1rem;
  text-wrap: nowrap;
  cursor: pointer;
}

.chevron-icon {
  width: 24px;
  height: 24px;
}

/* ---------- SECOND HALF ---------- */
/* ------- TRENDING NOW SECTION ------- */
.trending-now-section {
  margin-bottom: 7rem;
}

.trending-now-heading {
  margin-bottom: 3rem;
}

.trending-now-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 5rem;
}

.picture-item-container {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.picture-item-container:hover {
  transform: scale(1.05, 1.05);
}

.picture-item-container::before {
  font-size: 10rem;
  font-weight: 700;
  color: #000;
  -webkit-text-stroke: 0.25rem #FFF;
  position: absolute;
  bottom: 0.2rem;
}

.picture-item-container-1::before {
  content: "1";
  left: -2.5rem;
}

.picture-item-container-2::before {
  content: "2";
  left: -3.5rem;
}

.picture-item-container-3::before {
  content: "3";
  left: -3rem;
}

.picture-item-container-4::before {
  content: "4";
  left: -3rem;
}

.picture-item-container-5::before {
  content: "5";
  left: -3rem;
}

.picture-item {
  width: 180px;
  height: 252px;
  border-radius: 8px;
}

/* ------- FEATURES SECTION ------- */
.features-section {
  margin-bottom: 6rem;
}

.features-heading {
  margin-bottom: 2rem;
}

.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
}

.feature-item-container {
  height: 27rem;
  background: linear-gradient(to bottom right, #192247 0%, #210E17 100%);
  padding: 2.3rem 1.5rem;
  border-radius: 15px;
  position: relative;
}

.feature-heading {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.feature-content {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

.feature-icon {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

/* ------- FAQ SECTION ------- */
.faq-section {
  margin-bottom: 5rem;
}

.faq-heading {
  margin-bottom: 1.5rem;
}

.faqs-container {
  display: flex;
  flex-direction: column;
}

.faq-item-container {
  width: 100%;
  background-color: rgba(45, 45, 45);
  padding: 2.2rem 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
}

.faq-item-container:hover {
  background-color: rgb(58, 58, 58);
  cursor: pointer;
}

.faq-item-title {
  font-size: 2.4rem;
  font-weight: 400;
  margin-right: 1rem;
}

.plus-icon {
  width: 36px;
  height: 36px;
}

/* ------- RTW (Ready To Watch) SECTION ------- */
.rtw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.rtw .email-address {
  max-width: 55rem;
} 

/* ------- FOOTER ------- */
.footer {
  width: 90%;
  margin: 0 auto 15rem;
  display: flex;
  flex-direction: column;
}

/* ------- QUESTIONS SECTION ------- */
.questions-section {
  margin-bottom: 5rem;
}

.telephone-number {
  text-decoration: underline;
  cursor: pointer;
}

/* ------- FOOTER LINKS SECTION ------- */
.footer-links {
  margin-bottom: 6rem;
}

.footer-link-item {
  display: inline-block;
  width: 30rem;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

/* ------- LANGUAGE DROPDOWN SECTION ------- */
.footer .language-dropdown-container {
  width: 12.04rem;
  margin-bottom: 4rem;
}
